<section class="full-section background-image-full bif-borrowers row">
    <div class="col-md-4 col-sm-12 col-md-offset-2 text-xs-center banner-content text-md-left">
        <img class="banner-logo" src="images/banner_logo.png">
        <h2>Le meilleur moyen de se faire financer</h2>
        <p>Choisissez votre propre courtier Prise de rendez-vous 7j/7 Suivi votre financement à partir de votre smartphone Notez votre courtier et tous les acteurs qui sont intervenus sur le financement</p>
    </div>
</section>
<section class="inpper_page_section">
                    <div id="mortage" class="row">
                        <div class="col-md-12">
                            <img style="padding-top: 0;" class="icon_static" src="images/icon_mortage.png">
                            <center><h4> Prêt immobilier </h4></center>
                            <p> 
                                Vous recherchez un partenaire courtier disponible qui vous permettra de bénéficier des meilleurs condition de financement pour votre acquisition immobilière adressez vous à Fiduce. Vous serez pris en charge par un professionnel de la finance agréé par les autorités compétentes, il saura vous orienter dans vos choix et défendra au mieux vos intérêts. <br>
                                Vous pourrez agencer vos entretiens conseil en semaine, le week-end, à la pose déjeuner, chez vous, le soir à votre guise votre partenaire <br>
                                N'hésitez plus lancez-vous. Vous bénéficiez d'une aide à la navigation étape par étape, d'outils pour vous aider à mettre en place votre financement et d'une assistance 7 j/7. 
                            </p>
                        </div>
                    </div>
                    <div id="nonresidents" class="row">
                        <div class="col-md-12">
                            <img class="icon_static" src="images/icon_non_residents.png">
                            <center><h4> Prêt immobilier non résidents </h4></center>
                            <p> 
Paris la ville lumière vous êtes non résidents et vous souhaitez faire une acquisition immobilière dans le cadre d'un prêt immobilier, vous ne savez pas comment, où et vers qui vous tourner pour financer votre acquisition adressez vous à Fiduce. Les courtiers du réseau Fiduce vous épaulerons dans cette démarche délicate, qu'est l’obtention d'un financement lorsqu'on est non résident. Votre partenaire conseil répondra à toutes vos interrogations liées à votre statut de non résident et les potentiels impacts fiscaux (résidence secondaire, résidence locative etc...) auxquels vous serez assujetti. <br>
Les entretiens conseils pourront se faire à distance via des outils comme Skype ou en vis à vis lors de votre passage à Paris. 
Vous serez pris en charge par un professionnel de la finance qui saura vous orienter dans vos choix et défendra au mieux vos intérêts. 
N'hésitez plus lancez-vous. Vous bénéficierez d'une aide à la navigation étape par étape, d'outils pour vous aider à mettre en place votre financement et d'une assistance 7 j/7. 
                            </p>
                        </div>
                    </div>
                    <div id="insurance" class="row">
                        <div class="col-md-12">
                            <img class="icon_static" src="images/icon_insurance.png">
                            <center><h4> Assurance emprunteur </h4></center>
                            <p> 
                                La souscription à un prêt immobilier est très souvent conditionnée à une assurance emprunteur afin de garantir cet emprunt en cas de décès, perte d'emploi ou d'invalidité. Depuis le 1er janvier 2018, la renégociation de l’assurance emprunteur est étendue à tous les contrats en cours votre conseiller Fiduce pourra donc également vous accompagner dans cette démarche de renégociation de votre assurance emprunteur. 
                            </p>
                        </div>
                    </div>
                    <div id="credits" class="row">
                        <div class="col-md-12">
                            <img class="icon_static" src="images/icon_credits.png">
                            <center><h4> Regroupement de crédits </h4></center>
                            <p> 
                                Besoin de réorganiser son budget, faites vous accompagner dans cette démarche afin de bénéficier des meilleurs conditions. Regroupez l'ensemble de vos crédits en un seul et même prêt. Vos crédits sont regroupés autour d'une mensualité unique. En plus, le regroupement de crédits vous permet de diminuer votre mensualité
                            </p>
                        </div>
                    </div>
                    <div id="sponsorship" class="row">
                        <div class="col-md-12">
                            <img class="icon_static" src="images/icon_sponsorship.png">
                            <center><h4> Parrainage </h4></center>
                            <p> 
                                Parrainez vos proches. Le système de parrainage Fiduce vous permettra de percevoir une prime de parrainage de 300€ lorsque votre filleul se verra obtenir un financement par le biais du réseau de courtage Fiduce.
                            </p>
                        </div>
                    </div>
                    <div id="lablockchain" class="row">
                        <div class="col-md-12">
                            <img class="icon_static" src="images/icon_blockchain.png">
                            <center><h4> La Blockchain de Fiduce </h4></center>
                            <p>La Blockchain Fiduce a plusieurs attraits:<ul>
                                <li>Vous pourrez suivre votre dossier de financement en temps réel et d'identifier l'acteur de la chaîne du processus en charge de votre dossier en fonction des différentes étapes de validation</li>
                                <li>Vous pourrez sauvegarder et stocker tous les documents nécessaires au montage du financement mais également tous vos documents administratifs</li>
                                <li>Les fichiers stockés sur la Blockchain Fiduce sont cryptés découpés et distribués en plusieurs parties. Ceci pour garantir leur disponibilité, leur confidentialité et leur intégrité</li>
                                <li>En utilisant Fiduce vous pourrez gagner des Fidcoins</li>
                            </ul>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <img class="icon_static" src="images/icon_sellers.png">
                            <center><h4> Vendeurs </h4></center>
                            <p> 
                                Consultez votre conseiller courtier Fiduce pour votre prêt relais <br>
                                Mettez en ligne une annonce de votre bien afin d'augmenter vos possibilités de vente <br>
                                Suivez l'état d'évolution du dossier de financement de votre acheteur <br>
                                Préparez votre prochaine acquisition avec votre conseiller courtier Fiduce. <br>
                                Votre avis nous intéresse notez votre conseiller courtier Fiduce <br>
                            </p>
                        </div>
                    </div>
</section>

