<section class="full-section background-image-full bif-brokers row">
    <div class="col-md-4 col-sm-12 col-md-offset-2 text-xs-center banner-content text-md-left">
        <img class="banner-logo" src="images/banner_logo.png">
        <h2>FIDUCE a besoin de 
partenaires comme vous</h2>
    <p>Avec Fiduce démarrez dès maintenant votre activité de courtier. Gérez votre emploi du temps, connectez vous à Fiduce afin d’accompagner les futurs emprunteurs dan leurs projets immobiliers. Devenez courtier avec Fiduce incrivez vous dès maintenant.</p>
    </div>
</section>
<section class="inpper_page_section">
                <div class="row augmentez">
                        <div class="col-md-12">
                            <img class="icon_static" src="images/icon_income.png">
                            <center><h4> Augmenter vos revenus </h4></center>
                            <p> 
                                Vous êtes un professionnel de la finance et vous cherchez un complément de revenu à forte valeur ajoutée, n'hésitez  plus devenez membre du réseau de courtage Fiduce Avec Fiduce vous augmenterez à minima vos revenus de 30% par mois. <br> 
                                N'hésitez plus lancez-vous. Vous bénéficiez d'une aide à la navigation étape par étape, d'outils pour vous aider à optimiser vos revenus et d'une assistance 24 h/24 et 7 j/7. 
                            </p>
                        </div>
                    </div>
                <div class="row devenez">
                        <div class="col-md-12">
                            <img class="icon_static" src="images/icon_becomeabroker.png">
                            <center><h4> Devenez courtier </h4></center>
                            <p><ul>
                                <li>Inscrivez vous</li>
                                <li>Disposez d'une structure juridique</li>
                                <li>Mise en ligne des documents relatifs à votre identité et à celle de votre structure</li>
                                <li>Mise en relation avec des emprunteurs</li>
                                <li>Percevez vos commissions</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                <div class="row accompagnement">
                        <div class="col-md-12">
                            <img class="icon_static" src="images/icon_support.png">
                            <center><h4> Accompagnement </h4></center>
                            <p> 
                                Votre tâche sera de proposer un accompagnement personnalisez aux emprunteurs tout au long du processus de financement de la formalisation du besoin à la remise des clés chez le notaire. <br>
                                La mise en relation du couple courtier/emprunteur se fera grâce l'intelligence artificielle ce qui permettra de proposer une correspondance optimale. <br>
                                Fiduce s’astreint à proposer un service irréprochable à ses clients pour ce faire Fiduce vous mettra à disposition un support à la navigation étape par étape, d'outils pour vous aider à optimiser vos revenus et d'une assistance 7j/7.
                            </p>
                        </div>
                    </div>
                <div class="row parrainage">
                        <div class="col-md-12">
                            <img class="icon_static" src="images/icon_sponsorship.png">
                            <center><h4> Parrainage </h4></center>
                            <p> 
                                Parrainez d'autres courtiers membres mais également d'autres emprunteurs vous optimiserez vos revenus. Un système de parrainage des courtiers membres qui vous permettra de percevoir une rémunération tout au long de la collaboration du membre courtier coopté. Les primes de parrainage sont de 300€ 
                            </p>
                        </div>
                    </div>
                <div class="row lablockchain">
                        <div class="col-md-12">
                            <img class="icon_static" src="images/icon_blockchain.png">
                            <center><h4> La Blockchain de Fiduce </h4></center>
                            <p>La Blockchain Fiduce a plusieurs attraits : <br>
                            <ul>
                                <li>Vous pourrez suivre votre dossier de financement en temps réel et d'identifier l'acteur de la chaîne du processus en charge de votre dossier en fonction des différentes étapes de validation</li>
                                <li>Vous pourrez sauvegarder et stocker tous les documents nécessaires au montage du financement mais également tous vos documents administratifs</li>
                                <li>Les fichiers stockés sur la Blockchain Fiduce sont cryptés découpés et distribués en plusieurs parties. Ceci pour garantir leur disponibilité, leur confidentialité et leur intégrité</li>
                                <li>En utilisant Fiduce vous pourrez gagner des Fidcoins</li>
                                <li>Une blockchain en phase avec la GDRP la nouvelle réglementation européenne sur la protection des données utilisateur</li>
                            </ul>
                            </p>
                        </div>
                    </div>
</section>