<center><p><b>Bienvenue sur FIDUCE le guichet unique du crédit immobilier<br>
                   Pour que votre projet se concrétise vous avez besoin du bon expert crédit au bon moment.,</b></p>

<p>La première plateforme collaborative immobilère basée sur une Blockchain</p></center>
<section class="full-section background-image-full bif-index row">
    <div class="col-md-4 col-sm-12 col-md-offset-2 text-xs-center banner-content text-md-left">
        <img class="banner-logo" src="images/banner_logo.png">
        <h2>Votre prêt au bout des doigts</h2>
    </div>
</section>
<section class="video-section bg-light full-section">
    <div class="row">
        <div class="columns col-md-12 text-center">
            <h3> Comment ça marche ? </h3>
            <div class="video-container">
                <video width="400" controls="" poster="images/videothumb.jpg">
                     <source src="images/video720.mp4" type="video/mp4">
                  </video>
            </div>
        </div>
    </div>    
</section>
<section class="services-section">
    <div class="col-md-12 text-center">
        <h3 class="main-title"> Nos services </h3>
    </div>
    <div class="row">
        <div class="col col-md-4 text-center">
            <div class="round-img">
                <img src="/images/icon_insurance.png">
            </div>
            <div class="service-content">
                <h4> ASSURANCE EMPRUNTEUR </h4>
                <p>Garanties et solutions adaptées 
                    Renégociation de contrat 
                    Contrat sur mesure</p>
            </div>
        </div>
        <div class="col col-md-4 text-center">
            <div class="round-img">
                <img src="/images/icon_mortage.png">
            </div>
            <div class="service-content">
                <h4> PRÊT IMMOBILIER </h4>
                <p>Accompagnement personnalisé 
                    Proposition du meilleur taux 
                    Rachat de crédit</p>
            </div>
        </div>
        <div class="col col-md-4 text-center">
            <div class="round-img blahblah3">
                <img src="/images/icon_credits.png">
            </div>
            <div class="service-content">
                <h4> REGROUPEMENT DE CREDITS </h4>
                <p>Centralisation des besoins 
                    Mensualités allégées 
                    Budget équilibré</p>
            </div>
        </div>
    </div>
</section>
    <hr>
<section class="history-section">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3> Notre histoire </h3>
            <div class="text-left">
                <p>Parfois dans la vie il arrive des événements importants qui changent notre vie comme la naissance d'un enfant ou le déménagement dans notre nouvelle résidence principale suite à la naissance de votre enfant.</p>
                <p>En 2015 suite à la naissance de ma fille nous avons décidé d'investir dans le locatif pour elle de manière à ce qu'à sa majorité elle puisse avoir de quoi démarrer sa vie. Bien que dans le secteur bancaire et bénéficiant de taux collaborateur le chemin n'a pas été un long fleuve tranquille du financement à la signature il a fallu batailler à chaque étape.</p>
                <p>Le manque de transparence du processus n'a pas arrangé les choses, dans le même temps il a été constaté que les courtiers ne faisaient pas correctement le suivi des emprunteurs ils délaissaient la relation aux conseiller.</p>
                <p>Partant de ce postulat nous avons pris conscience du fait qu'il y avait un besoin à de structurer échanges entre les banquiers et les courtier et les relations entre les courtiers et les emprunteurs.</p>
            </div>
        </div>
    </div>    
</section>
<section class="calendar-section">
    <div class="row">
        <div class="col-md-8 col-centered text-center">
            <h3>PRISE DE RENDEZ-VOUS</h3>
            <div class="cal" id="v-cal">
            <div class="vcal-header">
                <button class="vcal-btn btn btn-action btn-link btn-lg" data-calendar-toggle="previous"><svg height="24" version="1.1" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path></svg></button>
                <div class="vcal-header__label" data-calendar-label="month">
                March 2017
                </div><button class="vcal-btn btn btn-action btn-link btn-lg" data-calendar-toggle="next"> <svg height="24" version="1.1" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path></svg></button>
            </div>
            <div class="vcal-week">
                <span>Mon</span> <span>Tue</span><span>Wed</span> <span>Thu</span> <span>Fri</span> <span>Sat</span> <span>Sun</span>
            </div>
            <div class="vcal-body" data-calendar-area="month"></div>
            </div>
            <br>
            Date choisie: <b data-calendar-label="picked"></b>
        </div>
    </div>    
</section>

<script src="/js/vanillacalendar.js"></script>
<script>
    window.addEventListener('load', function () {
        vanillaCalendar.init({});
    })
</script>