<link rel="stylesheet" href="css/plans.css"/>
<script src="https://js.stripe.com/v3/"></script>
<script src="/js/plans.js" defer></script>

<div class="col-md-12 packages-section">
    <h1>Choix des gains</h1>
    <div class="row packages-container"></div>
</div>
