 <div class="form-gap"></div>
 {{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
<div class="container">
	<div class="row">
		<div class="col-md-4 col-centered">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">Définir un nouveau mot de passe!</h2>
                  <div class="panel-body">
    
                    <form id="register-form" role="form" autocomplete="off" class="form" method="post">
    
                    <div class="form-group">
                        <div class="input-group">
                          <input name="password" placeholder="Mot de passe" class="form-control"  type="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                          <input name="repassword" placeholder="Retaper le mot de passe" class="form-control"  type="password">
                        </div>
                    </div>
                      <div class="form-group">
                        <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Continue" type="submit">
                      </div>
                    </form>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>